<!--////////////////////////////////////////////Block with car info, feedback's and search form///////////////////////////////////////////////////////-->

<div id="foto_form">

  <div id="left_container">
    <div id="foto">
      <img src="{{car.image_url[1]}}">
      <p>{{car.make + "   " + car.model}} <span>{{car.year}}</span></p>
      <div id="foto_price"><sup>$</sup><div>{{car.price_per_day}}</div><span>per day</span></div>
    </div>
    <div id="foto_stars">
      <span id="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
      <span id="trips">&bull; {{car.booked_periods.length}} trips</span>
    </div>

    <div id="car_info">
      <div id="general">
        <div class="box_name">
          <li>Engine:</li>
          <li>Fuel:</li>
          <li>Gear:</li>
          <li>Fuel cons:</li>
          <li>WD:</li>
        </div>
        <div class="box_info">
          <li>{{car.engine}}</li>
          <li>{{car.fuel}}</li>
          <li>{{car.gear}}</li>
          <li>{{car.fuel_consumption}}/100km</li>
          <li>{{car.wheels_drive}}</li>
        </div>
        <div class="box_name">
          <li>Doors:</li>
          <li>Seats:</li>
          <li>Class:</li>
          <li>Distance included:</li>
        </div>
        <div class="box_info">
          <li>{{car.doors}}</li>
          <li>{{car.seats}}</li>
          <li>{{car.car_class}}</li>
          <li>{{car.distance_included}}</li>
        </div>
      </div>

      <div id="location">
        <div class="box_name">Location:</div>
        <div>{{car.pick_up_place.place_id}}</div>
      </div>

      <div id="about">
        <div class="box_name">About:</div>
        <div>
          {{car.about}}
        </div>
      </div>

      <div id="features">
        <div class="box_name">Features:</div>
        <div>
          <li *ngFor="let featur of car.features">-{{featur}}</li>
        </div>
      </div>
    </div>

    <div id="feedback">
      <app-feedback></app-feedback>
      <app-feedback></app-feedback>
      <app-feedback></app-feedback>
    </div>


  </div>

  <div id="right_container">
    <div id="search_form">
      <p id="rw_1">Still available in your area</p>
      <form>
        <li>
          <label>From</label>
          <input type="datetime-local" value="{{toDay | date: 'yyyy-MM-ddT12:00'}}">
        </li>
        <li>
          <label>Till</label>
          <input type="datetime-local" value="{{toDay | date: 'yyyy-MM-ddT12:00'}}">
        </li>
        <button type="button">Rent now!</button>
      </form>
    </div>

    <agm-map [latitude]="car.pick_up_place.latitude" [longitude]="car.pick_up_place.longitude" [zoom]="18">
      <agm-marker [latitude]="car.pick_up_place.latitude" [longitude]="car.pick_up_place.longitude"></agm-marker>
    </agm-map>
  </div>

</div>
