<!--////////////////////////////////////////////Block with car info, feedback's and search form///////////////////////////////////////////////////////-->

<div id="foto_form">

  <div id="left_container">
    <div id="foto">
      <img src="../../../assets/big_azlk.png">
      <p>MERCEDES-BENZ G-CLASS <span>2019</span></p>
      <div id="foto_price"><sup>$</sup>180<span>per day</span></div>
    </div>
    <div id="foto_stars">
      <span id="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
      <span id="trips">&bull; 50trips</span>
    </div>

    <div id="car_info">
      <div id="general">
        <div class="box_name">
          <li>Engine:</li>
          <li>Fuel:</li>
          <li>Gear:</li>
          <li>Fuel cons:</li>
          <li>WD:</li>
        </div>
        <div class="box_info">
          <li>3.0L V6 DOHC</li>
          <li>Gas</li>
          <li>Automatic</li>
          <li>12l/100km</li>
          <li>RWD</li>
        </div>
        <div class="box_name">
          <li>HP:</li>
          <li>Torque:</li>
          <li>Doors:</li>
          <li>Seats:</li>
          <li>Class:</li>
        </div>
        <div class="box_info">
          <li>250</li>
          <li>330</li>
          <li>4</li>
          <li>5</li>
          <li>C</li>
        </div>
      </div>

      <div id="location">
        <div class="box_name">Location:</div>
        <div>Ulitsa Generala Lizyukova, 4, Voronezh, Voronezh Oblast, Russia, 394053</div>
      </div>

      <div id="about">
        <div class="box_name">About:</div>
        <div>BRAND NEW FULLY LOADED CUSTOM 2018 RANGE ROVER HSE with a 3.0 Liter Supercharged V6 Engine. The
          Range Rover HSE has a 380 horsepower V6, 8-Speed automatic transmission with gearshift paddles, all wheel
          drive,
          sliding panoramic roof, Bluetooth and USB, touch screen interface with navigation and interactive driver
          display. ADDITIONAL CUSTOM UPGRADES INCLUDE painted brake calibers yellow with decals, powder coated wheels
          gloss black, window tint 35%, and full blackout package.
        </div>
      </div>

      <div id="features">
        <div class="box_name">Features:</div>
        <div>
          <li>- 22 inch wheels</li>
          <li>- Power gestured roof</li>
          <li>- Heated front seats</li>
          <li>- Heated steering wheel</li>
          <li>- Ambient interior lighting</li>
          <li>- Meridian sound system</li>
          <li>- Interactive driver display</li>
          <li>- Lane departure warning</li>
          <li>- Emergency braking</li>
          <li>- Traffic sign recognition</li>
          <li>- Adaptive speed limited</li>
        </div>
      </div>
    </div>

    <div id="feedback">
      <app-feedback></app-feedback>
      <app-feedback></app-feedback>
      <app-feedback></app-feedback>
    </div>


  </div>

  <div id="right_container">
    <div id="search_form">
      <p id="rw_1">Still available in your area</p>
      <form>
        <ul>
          <li><input type="" placeholder="Location"></li>
          <li><input type="date" placeholder="From"></li>
          <li><input type="date" placeholder="Till"></li>
        </ul>
        <button type="button">Rent now!</button>
      </form>
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude"
             (mapClick)="onChoseLocation($event)">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>

</div>
