<!--////////////////////////////////////////This block for main picture and registration form///////////////////////////////////////////////////////////-->
<div class="reg_side">
  <div id="reg_left"></div>

  <div id="reg_right">
    <div id="reg_form">
      <p id="rw_1">Registration</p>
      <p id="rw_2">Type your data and hit Yalla!</p>

      <form #form="ngForm" (ngSubmit)="registrationUser(form)">
        <li>
          <input type="text" placeholder="Name" name="firstName" #firstName="ngModel" ngModel required
                 pattern="[a-zA-Z]+"><br>
          <span *ngIf="firstName.errors?.pattern" class="invalid">Incorrect first name</span>
        </li>

        <li><input type="text" placeholder="Last Name" name="lastName" #lastName="ngModel" ngModel required
                   pattern="[a-zA-Z]+"><br>
          <span *ngIf="lastName.errors?.pattern" class="invalid">Incorrect last name</span>
        </li>

        <li><input type="email" placeholder="Email" name="email" #email="ngModel" ngModel required email><br>
          <span *ngIf="email.errors?.email" class="invalid">Incorrect email</span>
        </li>

        <li><input type="password" placeholder="Password" name="password" #password="ngModel" ngModel required
                   pattern="((?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,12})"><br>
          <span *ngIf="password.errors?.pattern" class="invalid">
            Password must contain lowercase, uppercase letters and digit
          </span>
        </li>
        <br><br>
        <p id="reg_check"><input type="checkbox" #check="ngModel" ngModel [ngModelOptions]="{standalone: true}"
                                 required>
          I agree to the <a href="#">terms of use </a>and <a href="#">privacy policy</a>.
        </p>
        <br>
        <div id="reqMessage" *ngIf="reqMessage">{{reqMessage}}</div>
        <br><br><br>
        <button type="submit"
                [disabled]="form.invalid || check.invalid">
          Y'alla!
        </button>
      </form>

    </div>
    <div id="l1"></div>
  </div>
</div>

<!--///////////////////////////////////////////This block is our information with Join Now button////////////////////////////////////////////////////////-->
<div class="join_box">
  <!-- Red line-->
  <div id="l2"></div>
  <div id="join_info">
    <div id="info_1">
      <pre>
        NEVER MISTAKEN
        FOR ANYTHING ELSE
      </pre>
    </div>
    <div id="info_2">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
      chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie
      pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
    </div>
    <div id="info_button">
       <pre>
        Affordable prices
        Guaranteed cars
      </pre>
      <button>Join now!</button>
    </div>
  </div>
</div>

<!--////////////////////////////////////// Component with TOP 3 cars/////////////////////////////////////////////////////////////-->
<app-top-three-cars></app-top-three-cars>

<!--////////////////////////////////////// This block is our Latest feedback from costumers/////////////////////////////////////////////////////////////-->
<div class="feed_main">

  <div id="feed_head">
    <div id="feed_head_text">
      Latest FEEDBACKS fROM our customers
    </div>
  </div>
  <div class="feeds_list">
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
  </div>
</div>
