<!--////////////////////////////////////////This block for main picture and registration form///////////////////////////////////////////////////////////-->
<div class="reg_side">
  <div id="reg_left"></div>

  <div id="reg_right">
    <div id="reg_form">
      <p id="rw_1">Registration</p>
      <p id="rw_2">Type your data and hit Yalla!</p>
      <form>
        <ul>
          <li><input type="text" placeholder="Name"></li>
          <li><input type="text" placeholder="Last Name"></li>
          <li><input type="email" placeholder="Email"></li>
          <li><input type="password" placeholder="Password"></li>
        </ul>
        <br><br>
        <p id="reg_check"><input type="checkbox"> I agree to the <a href="#">terms of use </a>and <a href="">privacy
          policy</a>. </p>
        <br><br><br><br>
        <button type="button">Y'alla!</button>
      </form>
    </div>
    <div id="l1"></div>
  </div>
</div>

<!--///////////////////////////////////////////This block is our information with Join Now button////////////////////////////////////////////////////////-->
<div class="join_box">
  <!-- Red line-->
  <div id="l2"></div>
  <div id="join_info">
    <div id="info_1">
      <pre>
        NEVER MISTAKEN
        FOR ANYTHING ELSE
      </pre>
    </div>
    <div id="info_2">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
      chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie
      pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
    </div>
    <div id="info_button">
       <pre>
        Affordable prices
        Guaranteed cars
      </pre>
      <button>Join now!</button>
    </div>
  </div>
</div>

<!--////////////////////////////////////// Component with TOP 3 cars/////////////////////////////////////////////////////////////-->
<app-top-three-cars></app-top-three-cars>

<!--////////////////////////////////////// This block is our Latest feedback from costumers/////////////////////////////////////////////////////////////-->
<div class="feed_main">

  <div id="feed_head">
    <div id="feed_head_text">
      Latest FEEDBACKS fROM our customers
    </div>
  </div>
  <div class="feeds_list">
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
  </div>
</div>
