<!--////////////////////////////////////////This block for main picture and login form///////////////////////////////////////////////////////////-->
<div class="reg_side">
  <!--  In left side background image-->
  <div id="reg_left"></div>

  <!--  Block hidden when user not logged in-->
  <div *ngIf="loggedUser">
    <app-user-cabinet [loggedUser]="loggedUser" (userLogOut)="loggedUser=undefined"></app-user-cabinet>
  </div>

  <!--  Block hidden when user logged in-->
  <div id="reg_right" *ngIf="!loggedUser">
    <div class="alert" *ngIf="message">{{message}}</div>
    <div id="reg_form">
      <div>
        <p id="rw_1">Log in</p>
        <p id="rw_2">Type your data and hit Yalla!</p>
      </div>


      <form [formGroup]="logForm" (ngSubmit)="onLogin()">

        <li>
          <label>Email</label>
          <input type="email" formControlName="email"
                 [ngClass]="{invalid: logForm.get('email').touched && logForm.get('email').invalid}"><br>
          <div class="validator" *ngIf="logForm.get('email').touched && logForm.get('email').invalid">
            <small *ngIf="logForm.get('email').errors.required">Email is required field</small>
            <small *ngIf="logForm.get('email').errors.email">Invalid email</small>
          </div>
        </li>

        <li>
          <label>Password</label>
          <input type="password" formControlName="password"
                 [ngClass]="{invalid: logForm.get('password').touched && logForm.get('password').invalid}"><br>
          <div class="validator" *ngIf="logForm.get('password').touched && logForm.get('password').invalid">
            <small *ngIf="logForm.get('password').errors.required">Password is required field</small>
            <small *ngIf="logForm.get('password').errors.minlength">Please enter at least 8 characters</small>
          </div>
        </li>

        <br>
        <button type="submit" [disabled]="logForm.invalid">Y'alla!</button>
      </form>


      <p id="reg_check">Forgot your password? <a href="#">Click here.</a></p>
    </div>
    <div id="l1"></div>
  </div>

</div>

<!--///////////////////////////////////////////This block is our information with Join Now button////////////////////////////////////////////////////////-->
<div class="join_box">
  <div id="l2"></div>
  <div id="join_info">
    <div id="info_1">
      <pre>
        NEVER MISTAKEN
        FOR ANYTHING ELSE
      </pre>
    </div>
    <div id="info_2">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
      chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie
      pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
    </div>
    <div id="info_button">
       <pre>
        Affordable prices
        Guaranteed cars
      </pre>
      <button class="btn-join-info" routerLink="/signup">Join now!</button>
    </div>
  </div>
</div>

<!--////////////////////////////////////// Component with TOP 3 cars/////////////////////////////////////////////////////////////-->
<app-top-three-cars></app-top-three-cars>

<!--////////////////////////////////////// This block is our Latest feedback from costumers/////////////////////////////////////////////////////////////-->
<div class="feed_main">
  <div id="feed_head">
    <div id="feed_head_text">
      Latest FEEDBACKS fROM our customers
    </div>
  </div>
  <div class="feeds_list">
    <!--    TODO input into feedback component-->
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
  </div>
</div>
