<!--////////////////////////////////////////This block for main picture and login form///////////////////////////////////////////////////////////-->
<div class="reg_side">
  <div id="reg_left"></div>

  <div id="user_logged" *ngIf="loggedUser">
    <div>
      <h2>Welcome to ilCarr</h2>
      <span>{{loggedUser.first_name}} {{loggedUser.second_name}}</span>
    </div>
    <br><br><br><br>
    <button>My rented history</button>
    <button>My cars</button>
    <button>Edit user</button>
    <button (click)="deleteUser()">Delete user</button>
    <button (click)="logout()">Log out</button>
  </div>

  <div id="reg_right" *ngIf="!loggedUser">
    <div id="reg_form">
      <div>
        <p id="rw_1">Log in</p>
        <p id="rw_2">Type your data and hit Yalla!</p>
      </div>

      <form #form="ngForm" (ngSubmit)="logInUser(form)">
        <li><input type="email" placeholder="Email" name="email" #email="ngModel" ngModel required email><br>
          <span *ngIf="email.errors?.email" class="invalid">Incorrect email form</span>
        </li>

        <li><input type="password" placeholder="Password" name="password" #password="ngModel" ngModel required>
          <br>
        </li>
        <br>
        <button type="submit" [disabled]="form.invalid">Y'alla!</button>
      </form>

      <p id="reg_check">Forgot your password? <a href="#">Click here. </a></p>
    </div>
    <div id="l1"></div>
  </div>
</div>

<!--///////////////////////////////////////////This block is our information with Join Now button////////////////////////////////////////////////////////-->
<div class="join_box">
  <div id="l2"></div>
  <div id="join_info">
    <div id="info_1">
      <pre>
        NEVER MISTAKEN
        FOR ANYTHING ELSE
      </pre>
    </div>
    <div id="info_2">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
      chocolate cake. Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie
      pudding ice cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
    </div>
    <div id="info_button">
       <pre>
        Affordable prices
        Guaranteed cars
      </pre>
      <button>Join now!</button>
    </div>
  </div>
</div>

<!--////////////////////////////////////// Component with TOP 3 cars/////////////////////////////////////////////////////////////-->
<app-top-three-cars></app-top-three-cars>

<!--////////////////////////////////////// This block is our Latest feedback from costumers/////////////////////////////////////////////////////////////-->
<div class="feed_main">

  <div id="feed_head">
    <div id="feed_head_text">
      Latest FEEDBACKS fROM our customers
    </div>
  </div>
  <div class="feeds_list">
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
    <app-feedback></app-feedback>
  </div>
</div>
