<div id="filters_form">
  <p id="rw_filters">Find your car now!</p>
  <form>
    <li>
      <label>Make</label>
      <input type="text">
    </li>
    <li>
      <label>Model</label>
      <input type="text">
    </li>
    <li>
      <label>Year</label>
      <input type="text">
    </li>
    <li>
      <label>Engine</label>
      <input type="text">
    </li>
    <li>
      <label>Fuel</label>
      <input type="text">
    </li>
    <li>
      <label>Gear</label>
      <input type="text">
    </li>
    <li>
      <label>WD</label>
      <input type="text">
    </li>
    <li>
      <label>Fuel cons.</label>
      <input type="text">
    </li>
  </form>
</div>
