.car_card img {
  width: 520px;
  height: 310px;
}

.car_card > a {
  cursor: pointer;
}

.name_car p {
  font: Bold 32px/38px Bebas Neue;
  color: #062639;
  float: left;
}

.name_car p span {
  font: 700 24px/29px Bebas Neue;
  color: #06263998;
  padding-left: 5px;
}

.foto_price {
  position: relative;
  float: right;
  width: 120px;
  height: 60px;
  background: #FFFFFF no-repeat padding-box;
  box-shadow: 0 3px 6px #00000052;
  font: 700 59px/71px Bebas Neue;
  color: #062639;
  margin: -25px 40px 0 0;
  text-align: center;
}

.foto_price > div {
  margin-right: 25px;
}

.foto_price sup {
  font: 700 18px Raleway;
  padding: .5rem 0 0 .5rem;
  float: left;
}

.foto_price span {
  display: block;
  position: relative;
  width: 60px;
  float: right;
  margin: -50px -10px 0 0;
  font: 700 16px/19px Bebas Neue;
  color: #06263998;
  transform: rotate(270deg);
}
