/*general*/
i.fa {
  position: relative;
  right: 20px;
  bottom: 6px;
  color: #6C7E8B;
  pointer-events: none;
}

/* Styles for input form */
#main_form {
  padding-left: 150px;
  float: left;
}

#main_form #titl_1 {
  width: 255px;
  font: 900 32px/59px Raleway;
  color: #EA2340;
  padding: 100px 0 0 0;
}

#main_form #titl_2 {
  padding-top: 20px;
  width: 650px;
  font: 400 16px/24px Raleway;
  color: #062639;
}

#main_form div p {
  color: #062639;
  font: 400 24px Raleway;
  margin-bottom: 40px;
  padding-top: 60px;
}

#main_form input, select {
  appearance: none;
  box-sizing: border-box;
  width: 325px;
  height: 45px;
  margin-bottom: 20px;
  border: 1px solid #5F727E;
  padding: 20px 0 0 5px;
  font: 400 13px/24px Raleway;
}

#main_form select option {
  font: 400 18px Raleway;
}

#main_form textarea {
  width: 730px;
  height: 310px;
  resize: none;
  padding: 5px 0 0 5px;
  font: 400 13px/24px Raleway;
}

#main_form #feat_inp i.far {
  position: relative;
  right: 20px;
  bottom: 7px;
  color: #6C7E8B;
  cursor: pointer;
}

#main_form button#formSub {
  width: 190px;
  height: 50px;
  background-color: #EA2340;
  box-shadow: 0px 3px 6px #00000052;
  font: bold 18px Raleway;
  color: white;
  margin: 150px 0 200px 0;
  cursor: pointer;
}

#main_form button#formSub:disabled {
background-color: silver;
}

/*Styles for map and img*/
#map_img {
  float: right;
  margin: 200px 0 0 0;
  box-sizing: content-box;
}

#map_img #map {
  width: 400px;
  height: 600px;
  border: 2px solid silver;
  box-shadow: 0 3px 5px silver;
}

agm-map {
  width: 100%;
  height: 100%;
}

#map_img #map > p {
  text-align: center;
  padding-top: 20px;
  font: 400 20px/24px Raleway;
  color: #062639;
}

#map_img #imgs {
  position: relative;
  right: 200px;
  margin-top: 100px;
  width: 800px;
  height: 600px;
  border: 2px solid silver;
  box-shadow: 0 3px 5px silver;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#map_img cl-image {
  margin: 20px;
}


#map_img #choose_file {
  margin-left: 100px;
  color: #EA2340;
}

#map_img #upload {
  margin: 30px 0 0 100px;
  width: 190px;
  height: 50px;
  background-color: #EA2340;
  box-shadow: 0px 3px 6px #00000052;
  font: bold 18px Raleway;
  color: white;
  cursor: pointer;
}
