<div class="pop_cars">
  <div>
    <div id="pop_info1">3</div>
    <span id="pop_info3">MOST POPULAR
      CHOICES IN YOUr area
    </span>
    <div id="pop_info2">Candy canes topping dessert jelly beans pie jelly beans sweet roll. Toffee cotton candy cake
      chocolate cake.
      Bonbon gummi bears jelly-o bonbon fruitcake tootsie roll cake cookie gingerbread. Icing wafer pie pudding ice
      cream bonbon halvah bonbon topping. Donut halvah tiramisu bear claw tart.
    </div>
  </div>
  <div id="cars_3">
    <div id="l3">
      <div>
        <img src="../../../assets/zaz.png">
        <span class="car_name">reddevil</span>
        <div class="top_price"><sup>$</sup>230<span>per day</span></div>
      </div>
      <div>
        <img src="../../../assets/gaz.png">
        <span class="car_name">blackstar</span>
        <div class="top_price"><sup>$</sup>300<span>per day</span></div>
      </div>
      <div>
        <img src="../../../assets/azlk.png">
        <span class="car_name">pneumodaddy</span>
        <div class="top_price"><sup>$</sup>180<span>per day</span></div>
      </div>
    </div>
  </div>
</div>
