    <!-- ////////Block with form location, dates rent car and sorting of price-->
  <div id="search_form">
    <p id="rw_1">Find your car now!</p>
    <form>
      <li>
        <label>Location</label>
        <input type="text" value="{{city}}">
      </li>
      <li>
        <label>From</label>
        <input type="datetime-local" value="{{from| date: 'yyyy-MM-ddT12:00'}}">
      </li>
      <li>
        <label>Till</label>
        <input type="datetime-local" value="{{till| date: 'yyyy-MM-ddT12:00'}}">
      </li>
    </form>
    <br><br>
    <span>Sort by:</span>
    <br>
    <div id="price_filter">
      <button id="price_high" (click)="sortListCars('lowToHigh')">Price (low to high)</button>
      <button id="price_low" (click)="sortListCars('highToLow')">Price (high to low)</button>
    </div>
    <br><br><br><br>
    <div id="range">
      <span>Price range ($/per day):</span>
      <span id="num_price_range">{{minPrice}} - {{maxPrice}}</span>
      <br><br>
      <div id="price_range">
        <npn-slider [min]="50" [max]="500" [step]="10" (onChange)="onSliderChange($event)"></npn-slider>
      </div>
    </div>
  </div>
