/* You can add global styles to this file, and also import other style files */
@import "http://fonts.fontstorage.com/import/bebasneue.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,900,900i&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

body {
  width: 1903px;
}

label {
  font: 400 13px/24px Raleway, sans-serif;
  color: #06263998;
  position: absolute;
  padding: 20px 0 0 5px;
}

.invalid {
  padding: 5px;
  position: absolute;
  color: #EA2340;
  width: 350px;
  font: 400 12px Raleway;
}

@media (min-width: 1921px) {
  body {
    width: 1920px;
    margin-left: 12vw;
  }
}
