<!--////////////////////////////////////////////Block with search filters and cars list///////////////////////////////////////////////////////-->
<div id="main_container">

  <div id="left_container">

    <!--    This block activate search with price range, hide map and filters-->
    <div *ngIf="searchActive">
      <button class="active_button" style="background-color: #EA2340;">
        <i class="fal fa-search"></i>
        Search
      </button>
      <button class="non_act_but_1" (click)="wwIsActive('filters')" style="background: #062639;">
        <i class="fal fa-sliders-h"></i>
      </button>
      <button class="non_act_but_2" (click)="wwIsActive('map')" style="background: #6C7E8B;">
        <i class="fal fa-map-marker-alt"></i>
      </button>
      <div class="line_button" style="background-color: #EA2340;"></div>
    </div>

    <!--    This block activate filters, hide map and search with price range-->
    <div *ngIf="filtersActive">
      <button class="active_button" style="background: #062639;">
        <i class="fal fa-sliders-h"></i>
        Filters
      </button>
      <button class="non_act_but_1" (click)="wwIsActive('map')" style="background: #6C7E8B;">
        <i class="fal fa-map-marker-alt"></i>
      </button>
      <button class="non_act_but_2" (click)="wwIsActive('search')" style="background-color: #EA2340;">
        <i class="fal fa-search"></i>
      </button>
      <div class="line_button" style="background: #062639;"></div>
    </div>

    <!--    This block activate map, hide search with price range and filters-->
    <div *ngIf="mapActive">
      <button class="active_button" style="background: #6C7E8B;">
        <i class="fal fa-map-marker-alt"></i>
        Map
      </button>
      <button class="non_act_but_1" (click)="wwIsActive('filters')" style="background: #062639;">
        <i class="fal fa-sliders-h"></i>
      </button>
      <button class="non_act_but_2" (click)="wwIsActive('search')" style="background-color: #EA2340;">
        <i class="fal fa-search"></i>
      </button>
      <div class="line_button" style="background: #6C7E8B;"></div>
    </div>

    <router-outlet></router-outlet>
  </div>

  <!-- Cars list -->
  <div id="right_container">
    <app-car-card *ngFor="let car of carSearchService.getFilteredCars()" [car]="car"></app-car-card>
  </div>

</div>
