/*/////////////////////Styles for blocks with forms and cars list///////////////////////////////////////////////*/
#main_container {
  width: 100%;
  height: 1050px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
/*/////////////////////////Styles for left container with search form//////////////////////////////////////////*/
#left_container {
  padding-top: 38px;
}

#left_container .line_button {
  width: 100%;
  height: 7px;
}

#left_container .active_button {
  box-sizing: border-box;
  font: 400 13px/24px Raleway;
  color: #FFFFFF;
  border: 0;
  width: 340px;
  height: 48px;
  clip-path: polygon(0 0, 83% 0, 100% 100%, 0 100%);
  text-align: right;
  cursor: pointer;
  padding-right: 65px;
}

#left_container .active_button i {
  vertical-align: bottom;
  font-size: 30px;
  margin-right: 10px;
}

#left_container .non_act_but_1, .non_act_but_2 {
  border: 0;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 31% 100%);
  color: #FFFFFF;
  width: 140px;
  height: 35px;
  margin: 0 4px 0 -40px;
  top: 5px;
}
/*/////////////////////////Styles for right container with cars list//////////////////////////////////////////*/
#right_container::-webkit-scrollbar {
  background: transparent;
}

#right_container {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 85px 75px 0 75px;
}

app-car-card{
  margin-bottom: 40px;
}


