/*/////////////////////Styles for blocks with forms and cars list///////////////////////////////////////////////*/


#main_container {
  width: 100%;
  height: 1050px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/*/////////////////////////Styles for left container with search form//////////////////////////////////////////*/

#left_container {
  padding-top: 38px;
}

#left_container .line_button {
  width: 100%;
  height: 7px;
}

#left_container .active_button {
  box-sizing: border-box;
  font: 400 13px/24px Raleway;
  color: #FFFFFF;
  border: 0;
  width: 340px;
  height: 48px;
  clip-path: polygon(0 0, 83% 0, 100% 100%, 0 100%);
  text-align: right;
  cursor: pointer;
  padding-right: 65px;
}

#left_container .active_button i {
  vertical-align: bottom;
  font-size: 30px;
  margin-right: 10px;
}

#left_container .non_act_but_1, .non_act_but_2 {
  border: 0;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  clip-path: polygon(0 0, 70% 0, 100% 100%, 31% 100%);
  color: #FFFFFF;
  width: 140px;
  height: 35px;
  margin: 0 4px 0 -40px;
  top: 5px;
}

#search_form {
  height: 955px;
  background: #FFFFFF no-repeat padding-box;
  box-shadow: 0 3px 6px #0000005F;
  padding: 0 0 0 130px;
}

#left_container agm-map {
  height: 955px;
  box-shadow: 0 3px 6px #0000005F;
}

#filters_form {
  height: 955px;
  background: #FFFFFF no-repeat padding-box;
  box-shadow: 0 3px 6px #0000005F;
  padding: 0 0 0 15%;
}

#filters_form #rw_filters {
  font: 900 32px Raleway;
  color: #EA2340;
  padding-left: 20px;
  padding-top: 50px;
}

#filters_form li {
  margin: 20px;
}

#filters_form ul input {
  box-sizing: border-box;
  width: 371px;
  height: 46px;
  border: 1px solid #5F727E;
  text-align: left;
  padding: 20px 0 0 2px;
  font: normal 13px/24px Raleway;
  letter-spacing: 0;
  color: #06263998;
}

#filters_form span {
  font: 400 16px/24px Raleway;
  color: #6C7E8B;
  padding-left: 20px;
}

#search_form #rw_1 {
  font: 900 32px Raleway;
  color: #EA2340;
  padding-left: 20px;
  padding-top: 50px;
}

#search_form li {
  margin: 20px;
}

#search_form ul input {
  box-sizing: border-box;
  width: 371px;
  height: 46px;
  border: 1px solid #5F727E;
  text-align: left;
  padding: 20px 0 0 2px;
  font: 400 13px/24px Raleway;
  color: #06263998;
}

#search_form span {
  font: 400 16px/24px Raleway;
  color: #6C7E8B;
  padding-left: 20px;
}

#search_form #price_filter {
  margin-top: 10px;
  padding-left: 20px;
}

#search_form #price_low {
  width: 200px;
  height: 38px;
  border: 1px solid #6C7E8B;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  color: #06263998;
  font: 400 16px/24px Raleway;
  text-align: right;
  padding-right: 5px;
  margin-left: -38px;
  cursor: pointer;
}

#search_form #price_high {
  border: 0;
  width: 200px;
  height: 38px;
  background: #6C7E8B no-repeat padding-box;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  color: #FFFFFF;
  font: 400 16px/24px Raleway;
  box-sizing: content-box;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
}

npn-slider .bar{
  height: 2px !important;
  color: #062639;
}


#range #num_price_range {
  font: 700 24px Raleway;
  color: #062639;
}

#price_range {
  appearance: none;
  margin: 0 0 0 20px;
  background-color: #062639;
  width: 370px;
  height: 2px;
}

#range #price_range::-webkit-slider-thumb {
  appearance: none;
  background-color: #062639;
  width: 30px;
  height: 45px;
  cursor: pointer;
  clip-path: polygon(50% 50%, 50% 50%, 100% 100%, 0 100%);
}


/*/////////////////////////Styles for right container with cars list//////////////////////////////////////////*/

#right_container::-webkit-scrollbar {
  background: transparent;
}

#right_container {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 85px 75px 0 75px;
}

#right_container a {
  margin-bottom: 40px;
}

